<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Address Book </title>
  <!-- --------Bootstrap ------------>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script> 
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<div class="container">
		<div id="background-image" th:style="'background: url(/images/address-book-medium.png)'">
			<h1 id="bk">Address Book</h1>
			<a href="/create" id="b1" class="btn btn-secondary btn-lg">Create New Contact</a>
			<a href="/all-contacts" id="b2" class="btn btn-secondary btn-lg">See All Contacts</a>
		</div>
	</div>

</body>
</html>